.cart-exit {
    &_wrapper {
      position: relative;
      top: 40%;
      transform: translate(0,-40%);
      width: 70%;
      margin: 0 auto;
      text-align: center;
      box-sizing: border-box;
  
      img {
        display: block;
        margin: 0 auto;
        width: 40%;
      }
  
      h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.7rem;
        margin-bottom: 0.6vw;
      }
  
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 1.7rem;
        line-height: 2.4rem;
        color: #bdbdbd;
        margin: 0;
      }
  
      button{
          margin-top: 2vw;
      }
    }
  }
  