.wrapper-content {
  width: 90%;
  margin: 5% auto;
  min-height: 90vh;
  padding-bottom: 15rem;
  background-color: #ffffff;
  border-radius: 2.5rem;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  position: relative;
}

.wrapper-main {
  width: 90%;
  margin: 0 auto;
}
