.input {
  &-wrapper {
    display: flex;
    align-items: center;
    position: relative;

    border: 1px solid #f3f3f3;
    border-radius: 1rem;
    width: 35rem;
    height: 5.5rem;
    padding-left: 1.8rem;
    cursor: text;

    svg {
      height: 2rem;
      width: 2rem;
    }

    input {
      padding-left: 1rem;
      border: none;
      height: 80%;
      width: 90%;
      font-size: 2rem;

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #c4c4c4;
        font-size: 2rem;
      }
    }
    @media (max-width: 1100px) {
    }

    @media (max-width: 766px) {
      width: 90%;
    }
  }

  &-foundItems_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 6.5rem;
    left: 0;
    width: 100%;
    border: 1px solid #f3f3f3;
    background-color: #fff;
    z-index: 100;
    white-space: nowrap;
    overflow: hidden;

    a {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding: 0.3vw 1vw;
      text-decoration: none;
      color: black;
      font-size: 1.1vw;
      font-weight: normal;
      border: 1px solid #f3f3f3;

      cursor: pointer;
      &:hover {
        color: #9d9d9d;
      }
    }
  }
}

.search-wrapper {
  position: relative;
  @media (max-width: 1100px) {
  }

  @media (max-width: 766px) {
    width: 100%;
  }
}
