.button {
  &_apply,
  &_reject {
    position: relative;
    border-radius: 3rem;
    background-color: #9dd458;
    color: #ffff;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: center;
    border: none;
    cursor: pointer;
    svg {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &_apply {
    svg {
      right: 10%;
    }
  }

  &_reject {
    svg {
      left: 10%;
      transform: translate(0, -50%) scale(-1);
    }
  }
}
