body {
  background-color: #e7f6ff;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #e7f6ff;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
