html {
  font-size: calc(100vw / 1920 * 10);

  @media (max-width: 1024px) {
    font-size: calc(100vw / 768 * 10);
  }

  @media (max-width: 500px) {
    font-size: calc(50vw / 360 * 10);
  }
}

body {
  background-color: #e7f6ff;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
